<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Lazy Loading</title>
</head>
<body>
  <app-navbar mip-module="NavbarModule"></app-navbar>
  <div>
    @RenderBody()
  </div>

  <script type="text/javascript" src="~/dist/inline.bundle.js"></script>
  <script type="text/javascript" src="~/dist/polyfills.bundle.js"></script>
  <script type="text/javascript" src="~/dist/styles.bundle.js"></script>
  <script type="text/javascript" src="~/dist/vendor.bundle.js"></script>
  <script type="text/javascript" src="~/dist/main.bundle.js"></script>

  @RenderSection("Scripts", required: false)
</body>
</html>
