@{
  ViewData["Title"] = "Pensionssimulatorn";
}

<article id="pensionssimulatorn" ng-controller="pensionssimulatorn-controller">
  <div>{{ title }}</div>
</article>

@section scripts {
  <script type="text/javascript" src="~/pensionssimulatorn/inline.bundle.js"></script>
  <script type="text/javascript" src="~/pensionssimulatorn/polyfills.bundle.js"></script>
  <script type="text/javascript" src="~/pensionssimulatorn/styles.bundle.js"></script>
  <script type="text/javascript" src="~/pensionssimulatorn/vendor.bundle.js"></script>
  <script type="text/javascript" src="~/pensionssimulatorn/main.bundle.js"></script>
}
