@{
  ViewData["Title"] = "Uttagsplan";
}

<app-uttagsplan></app-uttagsplan>

@section scripts {
  <script type="text/javascript" src="~/uttagsplan/inline.bundle.js"></script>
  <script type="text/javascript" src="~/uttagsplan/polyfills.bundle.js"></script>
  <script type="text/javascript" src="~/uttagsplan/styles.bundle.js"></script>
  <script type="text/javascript" src="~/uttagsplan/vendor.bundle.js"></script>
  <script type="text/javascript" src="~/uttagsplan/main.bundle.js"></script>
}
