<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vue</title>
</head>
<body>
  <ul>
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Uttagsplan">Uttagsplan</a></li>
  </ul>
  <div>
    @RenderBody()
  </div>

  <script src="~/build.js"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
