<template>
    <div class="color">
        Shared Header
    </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component
export default class Header extends Vue {}
</script>

<style scoped>

</style>