<template>
    <div class="color">
        Uttagsplan Footer (Jag känner också till statet: {{count}})
    </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component
export default class UttagsplanHeader extends Vue {
  get count() {
    return this.$store.state.count;
  }
}
</script>

<style scoped>
.color {
  color: blue;
}
</style>