<template>
    <div>
        <app-header></app-header>
        <div class="color">Prop: {{name}}</div>
        <div>Mounted: {{title}}</div>
        <button @click="increment">Increment ({{count}})</button>
        <app-uttagsplan-footer></app-uttagsplan-footer>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import UttagsplanFooter from "./uttagsplan-footer.vue";
import Header from "../../shared/header.vue";

@Component({
  components: {
    "app-header": Header,
    "app-uttagsplan-footer": UttagsplanFooter
  }
})
export default class Uttagsplan extends Vue {
  title: string = '';

  get count() {
    return this.$store.state.count;
  }

  @Prop() name: string;

  mounted() {
    this.title = "Fisk";
  }

  increment() {
    this.$store.commit("increment");
  }
}
</script>

<style scoped>
.color {
  color: green;
}
</style>