<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MPA</title>
</head>
<body>
  <ul>
    <li><a asp-area="" asp-controller="Home" asp-action="Pensionssimulatorn">Pensionssimulatorn</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Uttagsplan">Uttagsplan</a></li>
  </ul>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
