﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="katt">
    <app-header></app-header>
    <app-katt inline-template>
        <div v-if="djur">Inline template: {{djur.typ}}</div>
    </app-katt>
</div>

<hr>

<div id="hej" class="name">
    {{title}}
</div>

<hr>

<div id="fyran">
    <app-fyran></app-fyran>
</div>