<div>{{title}}</div>

<ul>
    <li>
        <a (click)="changeStep(1)" [class.active]="currentStep === 1">Steg 1</a>
    </li>
    <li>
        <a (click)="changeStep(2)" [class.active]="currentStep === 2">Steg 2</a>
    </li>
</ul>

<app-steg-1 *ngIf="currentStep === 1"></app-steg-1>
<app-steg-2 *ngIf="currentStep === 2"></app-steg-2>
