@{
  ViewData["Title"] = "Pensionssimulatorn";
}

<app-uttagsplan mip-module="UttagsplanModule"></app-uttagsplan>

<div mip-module="FiskModule" ng-controller="FiskController">
    {{ message }}
</div>