<ul>
    <li>
        <a href="/home/pensionssimulatorn">Pensionssimulatorn</a>
    </li>
    <li>
        <a href="/home/uttagsplan">Uttagsplan</a>
    </li>
    <li>
        {{count}}
    </li>
</ul>