<div class="side">
    <button [class.active]="currentPrognos === 1" (click)="loadChartData(1)">Prognos 1</button>
    <button [class.active]="currentPrognos === 2" (click)="loadChartData(2)">Prognos 2</button>
    <button [class.active]="currentPrognos === 3" (click)="loadChartData(3)">Prognos 3</button>
</div>
<div class="main">
    <div class="header">
        <h3>Din pensionsprognos</h3>
        <button (click)="detailedView = !detailedView" [class.active]="detailedView">Details</button>
    </div>
    <p>
        Om du fortsätter att arbeta hos Skandia som anställd utan tjänstepension med en lön på 35 000 kronor per månad beräknas din
        första pensionsutbetalning att bli 36 500 kronor per månad. Det innebär att din pensionsutbetalning motsvarar 104
        procent av din pensionsmedförande lön, vilket är en ökning av din inkomst med 1 500 kronor per månad. Vid beräkningen
        har vi tagit hänsyn till din redan intjänade pension.
    </p>
    <div *ngIf="loading">Loading...</div>
    <pensionssimulatorn-chart [chartData]="chartData" [detailedView]="detailedView" (onClick)="handleOnClick($event)"></pensionssimulatorn-chart>
</div>
<div class="modal-wrapper" *ngIf="modalInfo">
    <div class="modal">
        <div class="modal-header">
            <h4 class="modal-header__text">{{modalInfo.header}}</h4>
            <a class="modal-header__link" (click)="modalInfo = null">&times;</a>
        </div>
        <div class="modal-body" *ngIf="modalInfo.pensions">
            <div class="modal-body__item"><strong>Pensionen består av:</strong></div>
            <div class="modal-body__item" *ngFor="let pension of modalInfo.pensions">
                {{pension.key}}: {{pension.value}} kr/mån
            </div>
        </div>
        <div class="modal-footer">
            {{modalInfo.footer}}
        </div>
    </div>
</div>