:host() {
    display: block;
    background-color: #62127c;
    border-radius: .5rem;
    color: white;
}

.side,
.main {
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: .5rem 1rem;

    &.active {
        background-color: orange;
    }
}

.side > button {
    width: 100%;
    margin-bottom: 1rem;
}

.modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    color: black;
    width: 500px;
}

.modal-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-bottom: 1px solid lightgrey;

    &__text {
        margin: 0;
    }

    &__link {
        font-size: 2em;
        cursor: pointer;
    }
}

.modal-body {
    padding: 1rem;
    background-color: white;    
    border-bottom: 1px solid lightgrey;
    font-size: .9em;

    &__item:not(:last-child) {
        margin-bottom: .5rem;
    }
}

.modal-footer {
    padding: 1rem;
    background-color: #eaeaea;    
}

@media (min-width: 992px) {
    :host() {
        display: flex;
    }

    .side {
        width: 20%;
    }

    .main {
        width: 80%;
    }
}